<?xml version="1.0"?>
<!--
/**
 * @author    Agence Dn'D <magento@dnd.fr>
 * @copyright Copyright (c) 2015 Agence Dn'D (http://www.dnd.fr)
 * @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Pimgento_Category>
            <version>0.1.0</version>
        </Pimgento_Category>
    </modules>
    <global>
        <models>
            <pimgento_category>
                <class>Pimgento_Category_Model</class>
            </pimgento_category>
        </models>
        <helpers>
            <pimgento_category>
                <class>Pimgento_Category_Helper</class>
            </pimgento_category>
        </helpers>
        <events>
            <catalog_category_delete_after>
                <observers>
                    <pimgento_category_delete_category>
                        <class>pimgento_category/observer</class>
                        <method>deleteCategoryCode</method>
                    </pimgento_category_delete_category>
                </observers>
            </catalog_category_delete_after>
            <task_executor_load_task>
                <observers>
                    <pimgento_category_add_task>
                        <class>pimgento_category/observer</class>
                        <method>addTask</method>
                    </pimgento_category_add_task>
                </observers>
            </task_executor_load_task>
        </events>
    </global>
    <default>
        <pimdata>
            <category>
                <cron_enabled>0</cron_enabled>
                <cron_file>categories.csv</cron_file>
                <depth>3</depth>
                <anchor>1</anchor>
                <update_url>0</update_url>
                <cache>block_html,collections</cache>
                <reindex>1</reindex>
            </category>
        </pimdata>
    </default>
    <crontab>
        <jobs>
            <pimdata_category_cron>
                <run>
                    <model>pimgento_category/cron::run</model>
                </run>
            </pimdata_category_cron>
        </jobs>
    </crontab>
</config>