<?xml version="1.0"?>
<!--
/**
 * @author    Agence Dn'D <magento@dnd.fr>
 * @copyright Copyright (c) 2015 Agence Dn'D (http://www.dnd.fr)
 * @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Pimgento_Product>
            <version>1.0.0</version>
        </Pimgento_Product>
    </modules>
    <global>
        <blocks>
            <pimgento_product>
                <class>Pimgento_Product_Block</class>
            </pimgento_product>
        </blocks>
        <models>
            <pimgento_product>
                <class>Pimgento_Product_Model</class>
            </pimgento_product>
        </models>
        <helpers>
            <pimgento_product>
                <class>Pimgento_Product_Helper</class>
            </pimgento_product>
        </helpers>
        <events>
            <task_executor_load_task>
                <observers>
                    <pimgento_product_add_task>
                        <class>pimgento_product/observer</class>
                        <method>addTask</method>
                    </pimgento_product_add_task>
                </observers>
            </task_executor_load_task>
            <catalog_product_delete_after>
                <observers>
                    <pimgento_product_delete_product>
                        <class>pimgento_product/observer</class>
                        <method>deleteProductCode</method>
                    </pimgento_product_delete_product>
                </observers>
            </catalog_product_delete_after>
        </events>
    </global>
    <default>
        <pimdata>
            <product>
                <cron_enabled>0</cron_enabled>
                <cron_file>products.csv</cron_file>
                <cache>block_html,collections,eav</cache>
                <configurable_enabled>0</configurable_enabled>
                <tax_default>0</tax_default>
                <matches>a:1:{s:18:"_1426514886830_830";a:2:{s:18:"pimgento_attribute";s:7:"enabled";s:17:"magento_attribute";s:6:"status";}}</matches>
                <reindex>1</reindex>
                <store_url_key>1</store_url_key>
            </product>
        </pimdata>
    </default>
    <crontab>
        <jobs>
            <pimdata_product_cron>
                <run>
                    <model>pimgento_product/cron::run</model>
                </run>
            </pimdata_product_cron>
        </jobs>
    </crontab>
</config>