<?xml version="1.0"?>
<!--
/**
 * @author    Agence Dn'D <magento@dnd.fr>
 * @copyright Copyright (c) 2015 Agence Dn'D (http://www.dnd.fr)
 * @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <sections>
        <pimdata>
            <groups>
                <product translate="label" module="pimgento_core">
                    <label>Products</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>6</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <cron_enabled translate="label">
                            <label>Active cron</label>
                            <frontend_type>select</frontend_type>
                            <backend_model>pimgento_core/system_config_backend_pimgento_cron_status</backend_model>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cron_enabled>
                        <cron_expression translate="label">
                            <label>Cron expression</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>pimgento_core/system_config_backend_pimgento_cron_expr</backend_model>
                            <comment>Exemple: 0 1 * * *</comment>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <cron_enabled>1</cron_enabled>
                            </depends>
                        </cron_expression>
                        <cron_file translate="label">
                            <label>File</label>
                            <frontend_type>text</frontend_type>
                            <comment>File name in "/var/import/"</comment>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <cron_enabled>1</cron_enabled>
                            </depends>
                        </cron_file>
                        <cache translate="label">
                            <label>Flush Cache</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>pimgento_core/system_config_source_cache_type</source_model>
                            <comment>Flush specific cache after import</comment>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cache>
                        <reindex translate="label">
                            <label>Reindex Data</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>Versions greater than EE 1.13 have asynchronous indexing, select "no"</comment>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </reindex>
                        <exclusions translate="label">
                            <label>Code exclusion</label>
                            <frontend_type>text</frontend_type>
                            <comment>Comma separated</comment>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </exclusions>
                        <matches translate="label">
                            <label>Match attributes</label>
                            <frontend_model>pimgento_product/adminhtml_system_match</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <comment>Exemple: description > meta_description</comment>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </matches>
                        <tax_default translate="label">
                            <label>Default Tax Class</label>
                            <frontend_type>select</frontend_type>
                            <source_model>pimgento_product/system_config_source_tax_class</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </tax_default>
                        <configurable_enabled translate="label">
                            <label>Create configurable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </configurable_enabled>
                        <configurable_attributes translate="label">
                            <label>Attributes to use</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>pimgento_product/system_config_source_configurable_attribute</source_model>
                            <comment>Set "use to create configurable product" to "yes" in attribute configuration</comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <configurable_enabled>1</configurable_enabled>
                            </depends>
                        </configurable_attributes>
                        <configurable_values translate="label">
                            <label>Configurable values</label>
                            <frontend_type>text</frontend_type>
                            <frontend_model>pimgento_product/adminhtml_system_configurable</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <comment>Use the value column to force data for specific attribute. Otherwise, leave blank to retrieve the value of the first simple product</comment>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <configurable_enabled>1</configurable_enabled>
                            </depends>
                        </configurable_values>
                    </fields>
                </product>
            </groups>
        </pimdata>
    </sections>
</config>