<?xml version="1.0"?>
<!--
/**
 * @author    Agence Dn'D <magento@dnd.fr>
 * @copyright Copyright (c) 2015 Agence Dn'D (http://www.dnd.fr)
 * @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Pimgento_Core>
            <version>0.2.0</version>
        </Pimgento_Core>
    </modules>
    <global>
        <blocks>
            <pimgento_core>
                <class>Pimgento_Core_Block</class>
            </pimgento_core>
        </blocks>
        <helpers>
            <pimgento_core>
                <class>Pimgento_Core_Helper</class>
            </pimgento_core>
        </helpers>
        <models>
            <pimgento_core>
                <class>Pimgento_Core_Model</class>
                <resourceModel>pimgento_core_resource</resourceModel>
            </pimgento_core>
            <pimgento_core_resource>
                <class>Pimgento_Core_Model_Resource</class>
                <entities>
                    <code>
                        <table>pimgento_code</table>
                    </code>
                </entities>
            </pimgento_core_resource>
        </models>
        <resources>
            <pimgento_core_setup>
                <setup>
                    <module>Pimgento_Core</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pimgento_core_setup>
        </resources>
        <events>
            <task_executor_start>
                <observers>
                    <pimgento_core_log_task_start>
                        <class>pimgento_core/log</class>
                        <method>startTask</method>
                    </pimgento_core_log_task_start>
                </observers>
            </task_executor_start>
            <task_executor_step_start>
                <observers>
                    <pimgento_core_log_step_start>
                        <class>pimgento_core/log</class>
                        <method>startStep</method>
                    </pimgento_core_log_step_start>
                </observers>
            </task_executor_step_start>
            <task_executor_step_end>
                <observers>
                    <pimgento_core_log_step_end>
                        <class>pimgento_core/log</class>
                        <method>endStep</method>
                    </pimgento_core_log_step_end>
                </observers>
            </task_executor_step_end>
            <task_executor_error>
                <observers>
                    <pimgento_core_log_task_error>
                        <class>pimgento_core/log</class>
                        <method>error</method>
                    </pimgento_core_log_task_error>
                </observers>
            </task_executor_error>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Pimgento_Core before="Mage_Adminhtml">Pimgento_Core_Adminhtml</Pimgento_Core>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <pimgento_core>
                    <file>pimgento.xml</file>
                </pimgento_core>
            </updates>
        </layout>
        <translate>
            <modules>
                <Pimgento_Core>
                    <files>
                        <default>Pimgento_Core.csv</default>
                    </files>
                </Pimgento_Core>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <pimdata>
            <general>
                <log>1</log>
                <log_file>pimgento/import.log</log_file>
                <csv_lines_terminated>\n</csv_lines_terminated>
                <csv_fields_terminated>;</csv_fields_terminated>
            </general>
        </pimdata>
    </default>
</config>