<?xml version="1.0"?>
<!--
/**
 * @author    Agence Dn'D <magento@dnd.fr>
 * @copyright Copyright (c) 2015 Agence Dn'D (http://www.dnd.fr)
 * @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Pimgento_Option>
            <version>0.1.0</version>
        </Pimgento_Option>
    </modules>
    <global>
        <models>
            <pimgento_option>
                <class>Pimgento_Option_Model</class>
            </pimgento_option>
        </models>
        <resources>
            <pimgento_option_setup>
                <setup>
                    <module>Pimgento_Option</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pimgento_option_setup>
        </resources>
        <helpers>
            <pimgento_option>
                <class>Pimgento_Option_Helper</class>
            </pimgento_option>
        </helpers>
        <events>
            <task_executor_load_task>
                <observers>
                    <pimgento_option_add_task>
                        <class>pimgento_option/observer</class>
                        <method>addTask</method>
                    </pimgento_option_add_task>
                </observers>
            </task_executor_load_task>
            <catalog_entity_attribute_delete_before>
                <observers>
                    <pimgento_option_delete_option>
                        <class>pimgento_option/observer</class>
                        <method>deleteOptionCode</method>
                    </pimgento_option_delete_option>
                </observers>
            </catalog_entity_attribute_delete_before>
        </events>
    </global>
    <default>
        <pimdata>
            <option>
                <cron_enabled>0</cron_enabled>
                <cron_file>attributes-options.csv</cron_file>
            </option>
        </pimdata>
    </default>
    <crontab>
        <jobs>
            <pimdata_option_cron>
                <run>
                    <model>pimgento_option/cron::run</model>
                </run>
            </pimdata_option_cron>
        </jobs>
    </crontab>
</config>